/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		font-size: 62.5%;
	}

	html,
	body {
		width: 100%;
		height: 100%;
	}

	#svelte {
		display: grid;
		grid-template-columns: 25rem 1fr;
		height: 100%;
	}

	h1 {
		@apply w-full border-t-2 border-gray-300 mt-5 pt-5 text-4xl text-gray-700 tracking-widest font-semibold;
		font-variant: small-caps;
	}
}
